@charset "utf-8";

// Import and update Bulma's global variables
@import "~bulma/sass/utilities/_all.sass";
$family-sans-serif: "Nunito", sans-serif;
$danger: #d55236;
$primary: #9fe8df;

// Import only what you need from Bulma
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/helpers/_all.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/form/shared.sass";
@import "~bulma/sass/form/tools.sass";

// Custom CSS
.app {
  height: 100vh;
  width: 100vw;
}

.grid {
  .box {
    aspect-ratio: 1/1;
    cursor: pointer;
    background-color: $dark;

    &:hover {
      background-color: $grey-dark;
    }
  }
}
